---
type OmittedSeoProps = Omit<SeoProps, `lang`>;

export type Props = {
  title?: string;
  seo?: OmittedSeoProps;
  lang?: SupportedLanguages;
  containerClass?: string;
};

import '@fontsource/inter/300.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/800.css';
import '@fontsource/inter/900.css';
import '@raulmelo/styles/lib/styles.css';

import type { SupportedLanguages } from '@raulmelo/core/config';

import { mergeClasses } from '@/infrastructure/utils/misc';
import { sanitizeUrl } from '@/infrastructure/utils/url';
import DefaultSEO, { type Props as SeoProps } from '@/ui/DefaultSEO.astro';
import { MenuBar } from '@/ui/MenuBar';

import GoogleAnalytics from '../GoogleAnalytics.astro';
import ThemeScript from '../ThemeScript.astro';

const { title, seo, lang, containerClass } = Astro.props;

const { lang: langFromParams } = Astro.params as { lang: SupportedLanguages };

const nextLang = lang || langFromParams;
---

<!doctype html>
<html lang={nextLang} data-theme-hint={Astro.locals.themeHint}>
  <head>
    <GoogleAnalytics />
    <!-- Base -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={sanitizeUrl(`${Astro.site ?? ``}/favicon.ico`)}
    />
    <meta name="generator" content={Astro.generator} />
    <!-- Base-end -->

    <!-- SEO -->
    <DefaultSEO title={title} lang={nextLang} {...seo} />
    <!-- SEO-end -->
    <!-- Theme Script -->
    <ThemeScript />
    <!-- Theme Script-end -->
  </head>
  <body
    class="relative min-h-screen pb-12 duration-200 bg-white dark:bg-blue-900 text-primary transition-theme ease md:pb-16"
  >
    <MenuBar
      lang={nextLang}
      pathname={Astro.url.pathname}
      client:load
      transition:persist={false}
    />

    <slot name="banner" />

    <main class={mergeClasses(`grid-container`, containerClass)}>
      <slot />
    </main>
  </body>
</html>
