---
type OmittedSeoProps = Omit<SeoProps, `lang`>;

export type Props = {
  title?: string;
  seo?: OmittedSeoProps;
  lang?: SupportedLanguages;
  containerClass?: string;
};

import '@fontsource/inter/300.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/800.css';
import '@fontsource/inter/900.css';
import '@raulmelo/styles/lib/styles.css';

import { type SupportedLanguages } from '@raulmelo/core/config';
import classNames from 'classnames';

import { sanitizeUrl } from '@/infrastructure/utils/url';
import DefaultSEO, { type Props as SeoProps } from '@/ui/DefaultSEO.astro';
import { MenuBar } from '@/ui/MenuBar';

import GoogleAnalytics from '../GoogleAnalytics.astro';

const { title, seo, lang, containerClass } = Astro.props;

const { lang: langFromParams } = Astro.params as { lang: SupportedLanguages };

const nextLang = lang || langFromParams;

import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID = process.env.VERCEL_ANALYTICS_ID;

console.log(`IDS`, {
  VERCEL_ANALYTICS_ID: import.meta.env.VERCEL_ANALYTICS_ID, // EXISTE
  PUBLIC_VERCEL_ANALYTICS_ID: import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID,
  PROCESS_VERCEL_ANALYTICS_ID: process.env.VERCEL_ANALYTICS_ID, // EXISTE
  PROCESS_PUBLIC_VERCEL_ANALYTICS_ID: process.env.PUBLIC_VERCEL_ANALYTICS_ID,
});
---

<!DOCTYPE html>
<html lang={nextLang}>
  <head>
    <GoogleAnalytics />
    <!-- Base -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={sanitizeUrl(`${Astro.site ?? ``}/favicon.ico`)}
    />
    <meta name="generator" content={Astro.generator} />
    <!-- Base-end -->

    <!-- SEO -->
    <DefaultSEO title={title} lang={nextLang} {...seo} />
    <!-- SEO-end -->
    <!-- Theme Script -->
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== `undefined` &&
          localStorage.getItem(`theme`)
        ) {
          return localStorage.getItem(`theme`);
        }
        if (window.matchMedia(`(prefers-color-scheme: dark)`).matches) {
          return `dark`;
        }
        return `light`;
      })();

      if (theme === `light`) {
        document.documentElement.classList.remove(`dark`);
      } else {
        document.documentElement.classList.add(`dark`);
      }
      window.__theme = theme;
      window.localStorage.setItem(`theme`, theme);
    </script>
    <!-- Theme Script-end -->
  </head>
  <body
    class="relative min-h-screen pb-12 duration-200 bg-white dark:bg-blue-900 text-primary transition-theme ease md:pb-16"
  >
    <script>
      import { webVitals } from '@/infrastructure/vitals';

      console.log(`IDS`, {
        VERCEL_ANALYTICS_ID: import.meta.env.VERCEL_ANALYTICS_ID, // EXISTE
        PUBLIC_VERCEL_ANALYTICS_ID: import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID,
        PROCESS_VERCEL_ANALYTICS_ID: process.env.VERCEL_ANALYTICS_ID, // EXISTE
        PROCESS_PUBLIC_VERCEL_ANALYTICS_ID:
          process.env.PUBLIC_VERCEL_ANALYTICS_ID,
      });

      const analyticsId =
        import.meta.env.VERCEL_ANALYTICS_ID ||
        import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

      webVitals({
        path: location.pathname,
        params: location.search,
        analyticsId,
      });
    </script>

    <MenuBar lang={nextLang} pathname={Astro.url.pathname} client:load />
    <slot name="banner" />

    <main class={classNames(`grid-container`, containerClass)}>
      <slot />
    </main>
  </body>
</html>
