---
import { Image } from 'astro:assets';
import type { SupportedLanguages } from '@raulmelo/core/config';
import type { QueryPostBySlugReturnType } from '@raulmelo/core/domains';
import { imgUrlFor } from '@raulmelo/core/utils';

import { getIntl } from '@/infrastructure/i18n/getServerSideLocales.server';
import { sanityClient } from '@/infrastructure/sanity/client';

type Post = NonNullable<QueryPostBySlugReturnType>;

type Props = {
  lang: SupportedLanguages;
  featuredImage: NonNullable<Post[`featuredImage`]>;
  unsplash?: Post['unsplash'];
};

const { lang, featuredImage, unsplash } = Astro.props;

const { url, width, height } = imgUrlFor(sanityClient, featuredImage);

const intl = getIntl(lang);
---

<div
  class="mb-8 lg:mb-16 col-span-full"
  role="img"
  aria-label={intl.formatMessage({ id: `blogPost.featuredImage` })}
>
  <div class="aspect-w-12 aspect-h-6">
    <Image
      src={url}
      alt={intl.formatMessage({ id: `blogPost.featuredImage` })}
      loading="eager"
      width={width}
      height={height}
    />
  </div>

  {
    unsplash ? (
      <p class="mt-4 text-base text-center lg:text-md dark:text-gray-300">
        {intl.formatMessage(
          {
            id: `blogPost.unsplashCaption`,
          },
          {
            authorLink: (
              <a href={unsplash.url} class="underline text-secondary">
                {unsplash.authorName}
              </a>
            ),
            unsplashLink: (
              <a href="https://unsplash.com" class="underline text-secondary">
                Unsplash
              </a>
            ),
          },
        )}
      </p>
    ) : null
  }
</div>
