---
import { ChevronDownIcon } from '@raulmelo/ui';
import classNames from 'classnames';
import type { PostBySlug } from './types';

type Series = NonNullable<PostBySlug['series']>;

interface Props {
  currentPostId: string;
  series: Series;
  seriesLabel: string;
}

const { currentPostId, series, seriesLabel } = Astro.props;
---

<section>
  <div
    class="relative my-8 duration-200 bg-white rounded shadow dark:bg-blue-800 transition-theme ease"
    data-testid="series-menu"
  >
    <div>
      <div
        class={classNames([
          'flex content-between cursor-pointer px-4 py-3',
          'text-lg font-bold md:text-xl duration-300 transition-spacing',
          'pb-2.5 border-b border-gray-100 dark:border-gray-600',
        ])}
        data-testid="expand-button"
        role="button"
      >
        <span class="flex-1">{series.name}</span>
        <button class="flex items-center justify-center w-7 h-7">
          <ChevronDownIcon className="w-5" />
        </button>
      </div>

      <ul class="pb-0 m-0" data-testid="series-post-list">
        {
          series.posts.map((post) => {
            const { _id, seriesCopy, slug } = post;

            const isCurrentPost = _id === currentPostId;
            return (
              <li
                class={classNames(
                  'cursor-pointer m-0 font-sans text-sm md:text-base',
                  {
                    'bg-green-400 hover:bg-green-400 hover:bg-opacity-50':
                      isCurrentPost,
                  },
                )}
                data-testid={`post_${_id}`}
              >
                <a href={slug} class="block px-4 py-3 no-underline">
                  {seriesCopy}
                </a>
              </li>
            );
          })
        }
      </ul>

      <div
        class={classNames([
          'flex content-between cursor-pointer px-4 py-3',
          'font-sans text-base md:text-md duration-300 transition-spacing',
          'pt-2.5 border-t border-gray-100 dark:border-gray-600',
        ])}
        role="button"
      >
        <span>{seriesLabel}</span>
      </div>
    </div>
  </div>
</section>
