---
// import { NextSeo } from 'next-seo';
// import { InstantSearch } from 'react-instantsearch-dom';
// import { defineMessages, FormattedMessage } from 'react-intl';

import { getIntl } from '@/infrastructure/i18n/getServerSideLocales.server';
import Layout from '@/layouts/Layout.astro';
import type { SupportedLanguages } from '@raulmelo/core';

// import { algoliaConfig } from '~/config/algolia';
// import { useLocalization } from '~/hooks/useLocalization';

// import { Filters, Hits, PoweredBy, SearchBox } from './components';
// import { algoliaDebounceSearchClient } from './utils';

// const messages = defineMessages({
//   pageTitle: {
//     id: 'search.pageTitle',
//   },
// });
const { lang } = Astro.params as { lang: SupportedLanguages };

const intl = getIntl(lang);
---

<Layout lang={lang} title={intl.formatMessage({ id: 'search.pageTitle' })}>
  <!-- <NextSeo title={formatMessage(messages.pageTitle)} noindex /> -->
  <header class="mb-6 col-span-full">
    <h1 class="text-3xl font-extrabold md:text-4xl col-span-full">
      {intl.formatMessage({ id: 'search.pageTitle' })}
    </h1>
    <p class="text-lg">
      {
        intl.formatMessage(
          { id: 'search.paragraph' },
          {
            a: function Anchor(chunks: never) {
              return (
                <a
                  class="underline text-secondary"
                  href="https://www.google.com/search?q=site%3Araulmelo.dev+javascript"
                >
                  {chunks}
                </a>
              );
            },
          },
        )
      }
    </p>
  </header>
</Layout>
<!-- 
<InstantSearch
  searchClient={algoliaDebounceSearchClient}
  indexName={algoliaConfig.indexName}
>
  <SearchBox />
  <Filters />
  <Hits />
  <PoweredBy />
</InstantSearch> -->
