---
type OmittedSeoProps = Omit<SeoProps, `lang`>;

export type Props = {
  title?: string;
  seo?: OmittedSeoProps;
  lang?: SupportedLanguages;
};

import '@raulmelo/ui/styles/prism.css';
import '@raulmelo/ui/styles/style.css';
import '@raulmelo/styles/lib/styles.css';

import { type SupportedLanguages } from '@raulmelo/core/config';

import { sanitizeUrl } from '@/infrastructure/utils/url';
import DefaultSEO, { type Props as SeoProps } from '@/ui/DefaultSEO.astro';
import { MenuBar } from '@/ui/MenuBar';

const { title, seo, lang } = Astro.props;

const { lang: langFromParams } = Astro.params as { lang: SupportedLanguages };

const nextLang = lang || langFromParams;
---

<!DOCTYPE html>
<html lang={nextLang}>
  <head>
    <!-- Base -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={sanitizeUrl(`${Astro.site}/favicon.svg`)}
    />
    <meta name="generator" content={Astro.generator} />
    <!-- Base-end -->

    <!-- SEO -->
    <DefaultSEO title={title} lang={nextLang} {...seo} />
    <!-- SEO-end -->

    <!-- Proxima Nova Font -->
    <link rel="stylesheet" href="https://use.typekit.net/rsd6fwc.css" />
    <!-- Proxima Nova Font-end -->

    <!-- Theme Script -->
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== `undefined` &&
          localStorage.getItem(`theme`)
        ) {
          return localStorage.getItem(`theme`);
        }
        if (window.matchMedia(`(prefers-color-scheme: dark)`).matches) {
          return `dark`;
        }
        return `light`;
      })();

      if (theme === `light`) {
        document.documentElement.classList.remove(`dark`);
      } else {
        document.documentElement.classList.add(`dark`);
      }
      window.__theme = theme;
      window.localStorage.setItem(`theme`, theme);
    </script>
    <!-- Theme Script-end -->
  </head>
  <body
    class="relative min-h-screen pb-12 duration-200 bg-white dark:bg-blue-900 text-primary transition-theme ease md:pb-16"
  >
    <MenuBar lang={nextLang} pathname={Astro.url.pathname} client:load />

    <main class="grid-container">
      <slot />
    </main>
  </body>
</html>
