---
export interface Props {
  title: string;
  lang: SupportedLanguages;
}

import '@raulmelo/ui/styles/prism.css';
import '@raulmelo/ui/styles/style.css';
import '@raulmelo/styles/lib/styles.css';

import { MenuBar } from '@/ui/MenuBar';
import type { SupportedLanguages } from '@raulmelo/core';
import Logo from '@/ui/Logo.astro';

const { title, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <slot name="head" />
    {/* Proxima Nova Font */}
    <link rel="stylesheet" href="https://use.typekit.net/rsd6fwc.css" />

    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    </script>
  </head>
  <body
    class="relative min-h-screen pb-12 duration-200 bg-white dark:bg-blue-900 text-primary transition-theme ease md:pb-16"
  >
    <MenuBar lang={lang} pathname={Astro.url.pathname} client:load>
      <Logo slot="logo" />
    </MenuBar>

    <main class="grid-container">
      <slot />
    </main>
  </body>
</html>
